html, body {
    margin: 0;
    padding: 0;
    background-image: url("../images/bg/cin60160.jpg");
	font-family: Comic Sans MS;
    color: #000000;
    overflow: hidden;	
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 10px;
}

.rainbow {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    purple
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}