html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #0f0f0f;
  font-family: monospace;
  letter-spacing: 2px;
  display: none;
  animation: fadein 1.5s ease forwards;
}

body.revealed {
  background-image: url("../images/expressionless.jpg");
  background-repeat: repeat;
  background-size: 200px 200px;
}

p{
	background-color: white;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}